* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

input:focus {
  outline: none;
}

.btn {
  padding: 1rem 3rem;
  border-radius: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.btn-a1 {
  color: #849499;
  padding: 16px 50px;
}
.btn-a1:hover {
  border-radius: 25px;
  background-color: rgb(255, 166, 58);
  color: white;
}

.btn-myblog {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgb(117, 117, 117);
  padding: 12px 26px;
  text-transform: uppercase;
}
.btn-myblog:hover {
  background-color: rgb(255, 248, 235);
  border-radius: 30px;
  color: rgb(255, 168, 0);
  padding-left: 26px !important;
}

header {
  padding: 1rem 0;
  transition: 0.5s;
  z-index: 100000 !important;
  background-image: url("../../images/back-image.png");
}
header #offcanvasNavbar {
  background-color: #033648;
}
@media screen and (max-width: 990.999px) {
  header #offcanvasNavbar .offcanvas-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (max-width: 610px) {
  header #offcanvasNavbar ul {
    display: flex;
    flex-direction: column;
  }
}
header .nav__link {
  font-size: 17px;
}
header .nav__link:hover {
  text-decoration: underline;
  color: white !important;
}
@media screen and (max-width: 990.999px) {
  header .nav__link {
    font-size: 21px;
  }
}
header .active {
  color: white !important;
  background: transparent !important;
  text-decoration: underline;
}
header .btn__call {
  background: #033648 !important;
  border: none;
  border-radius: 25px;
  transition: 0.009s;
}
header .btn__call:hover {
  background-color: white !important;
  border: 1px solid #033648;
  color: gray !important;
}

.navbar-shrink {
  background-color: #0a475a;
  box-shadow: 0 0 8px #086e8d;
  padding: 5px !important;
}

footer {
  padding-bottom: 50px;
}
footer .footer {
  margin-top: 110px;
}
footer .footer h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: rgb(8, 84, 108);
  margin-bottom: 28px;
}
footer .footer a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
  margin-top: 10px;
  display: inline-block;
}
footer .footer a:hover {
  color: black;
  font-weight: 500;
}
footer .footer .social-medias .lorem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
}
footer .footer .social-medias .contact-me {
  margin-top: 50px;
}
footer .footer .social-medias .contact-me .github-icon {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 576px) {
  .footer .social-medias,
.footer .pages,
.footer .services,
.footer .contact {
    --bs-gutter-x: 50% !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "Schoolbell";
  src: url(../../fonts/Schoolbell/Schoolbell-Regular.ttf);
}
#hero {
  background-image: url("../../images/back-image.png");
  padding-bottom: 320px;
}
#hero .left-side {
  margin-top: 100px;
}
#hero .left-side .my-name {
  background-color: rgb(9, 69, 86);
  padding: 16px 30px;
  border-radius: 30px;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}
#hero .left-side h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin-top: 40px;
}
#hero .left-side .product {
  margin-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #849499;
}
#hero .left-side .hire-me {
  margin-top: 50px;
}
#hero .right-side img {
  margin-left: -6% !important;
}

#services {
  margin-bottom: 200px;
}
#services .dad-statistic {
  background-color: #fff;
  padding: 78px 150px;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  margin-top: -150px;
}
#services .dad-statistic p:first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: rgb(38, 90, 106);
}
#services .statistic {
  margin-top: 70px;
}
#services .statistic .achievment .number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 22px;
  color: rgb(8, 84, 108);
}
#services .statistic .achievment .success {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgb(8, 84, 108);
  margin-top: 30px;
}
#services .service {
  margin-top: 200px;
}
#services .service .sec-name {
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #265A6A;
}
#services .service p:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: rgb(8, 84, 108);
  margin-top: 30px;
}
#services .service .box-dad {
  margin-top: 70px;
}
#services .service .box-dad .box:nth-child(2) img {
  width: 30px;
  height: 30px;
}
#services .service .box-dad .box {
  background-image: url("../../images/green-circle.png");
  background-repeat: no-repeat;
  background-position: 19px 20px;
  padding: 30px;
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
}
#services .service .box-dad .box:hover {
  background-color: rgb(8, 84, 108);
  background-image: url("../../images/yellow-circle.png");
  background-repeat: no-repeat;
  background-position: 19px 20px;
}
#services .service .box-dad .box:hover p {
  color: rgb(178, 187, 189);
}
#services .service .box-dad .box:hover h4 {
  color: white !important;
}
#services .service .box-dad .box h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0F1221;
  margin-top: 45px;
}
#services .service .box-dad .box p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 10px;
  color: rgb(105, 105, 105);
}

#experiance {
  background-image: url("../../images/back-image.png");
  padding: 100px 0;
  margin-bottom: 200px;
}
#experiance .right-side {
  margin-top: 90px;
}
#experiance .right-side .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 40px;
}
#experiance .right-side .dev-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #AABFC6;
  margin-top: 20px;
}
#experiance .right-side .carousel-control-next,
#experiance .right-side .carousel-control-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  margin-left: -430px;
  margin-top: 260px;
}
#experiance .right-side .carousel-control-next {
  left: calc(50% + 200px);
}
#experiance .right-side .carousel-control-prev {
  left: calc(50% + 100px);
}

#my-portfolio {
  padding-bottom: 200px;
}
#my-portfolio h2:first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  color: rgb(8, 84, 108);
}
#my-portfolio .description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: rgb(117, 117, 117);
  margin-top: 10px;
  margin-bottom: 60px;
}
#my-portfolio .card-dad .card {
  border: none !important;
}
#my-portfolio .card-dad .card div:hover a {
  color: rgb(255, 168, 0);
}
#my-portfolio .card-dad .card div:hover .next-yellow {
  display: inline-block !important;
}
#my-portfolio .card-dad .card div:hover .next-green {
  display: none;
}
#my-portfolio .card-dad .card h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  margin-top: 40px;
  color: rgb(8, 84, 108);
}
#my-portfolio .card-dad .card p {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}
#my-portfolio .card-dad .card .next-green {
  width: 15px !important;
  height: 15px !important;
  margin-left: 15px;
  margin-top: 5px;
}
#my-portfolio .card-dad .card .next-yellow {
  width: 15px !important;
  height: 15px !important;
  margin-left: 15px;
  margin-top: 5px;
}
#my-portfolio .card-dad .card a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: rgb(8, 84, 108);
}

#my-blog {
  padding-bottom: 100px;
}
#my-blog h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: rgb(8, 84, 108);
  margin-top: 40px;
}
#my-blog .important-words {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #757575;
  margin-top: 20px;
}
#my-blog .carousel-container {
  padding: 0;
}
#my-blog .date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #757575 !important;
}
#my-blog .carousel-item img {
  height: 500px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
#my-blog .carousel-control-next,
#my-blog .carousel-control-prev {
  top: auto;
  bottom: auto;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid orange;
  padding: 10px;
}
#my-blog .carousel-control-next:hover,
#my-blog .carousel-control-prev:hover {
  background-color: orange;
}
#my-blog .carousel-control-next .carousel-control-prev:hover,
#my-blog .carousel-control-prev .carousel-control-prev:hover {
  background-color: orange;
}
#my-blog .carousel-control-next {
  left: calc(45% + 200px);
}
#my-blog .carousel-control-prev {
  left: calc(45% + 100px);
}
#my-blog .carousel-control-prev-icon {
  background-image: url("../../images/let.svg");
}
#my-blog .carousel-control-next-icon {
  background-image: url("../../images/right.svg");
}
#my-blog .right-side {
  padding-left: 25px;
}
#my-blog .right-side h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: rgb(8, 84, 108);
}
#my-blog .right-side .text {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #757575;
}
#my-blog .right-side a {
  margin-top: 30px;
  border: 1px solid orange;
  border-radius: 30px;
  padding: 16px 30px;
  color: orange !important;
}
#my-blog .right-side a:hover {
  background-color: rgb(255, 166, 58);
  color: white !important;
}

@media screen and (max-width: 1200px) {
  #hero .left-side {
    margin-top: 100px;
  }
  #my-blog .carousel-control-next,
#my-blog .carousel-control-prev {
    position: absolute !important;
    margin-left: 0 !important;
    background-color: white !important;
    left: 50% !important;
  }
  #my-blog .carousel-control-next {
    left: 60% !important;
  }
  #experiance .right-side .carousel-control-prev,
#experiance .right-side .carousel-control-next {
    background-color: black !important;
  }
}
@media screen and (max-width: 768px) {
  #hero .left-side h2 {
    font-size: 50px;
  }
  #hero {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  #hero .left-side h2 {
    font-size: 40px;
  }
  #hero .left-side * {
    text-align: center !important;
  }
  #hero .left-side .my-name {
    margin: 0 30%;
  }
  #services .service .box-dad .box {
    background-position: 50% 20px;
  }
  #services .service .box-dad .box:hover {
    background-position: 50% 20px !important;
  }
  #services .service .box-dad .box > * {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service .box-dad .box > * img {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #my-blog .carousel-control-next,
#my-blog .carousel-control-prev {
    top: 450px !important;
    left: 30% !important;
  }
  #my-blog .carousel-control-next {
    left: 50% !important;
  }
  #my-blog .right-side {
    margin-top: 40px;
  }
}/*# sourceMappingURL=main.css.map */