@import "../abstracts/mixin";
@import "../abstracts/variables";

@import "../base/reset";

@import "../layout/header";
@import "../layout/footer";

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Schoolbell';
    src: url(../../fonts/Schoolbell/Schoolbell-Regular.ttf);
}

#hero{
    background-image: url('../../images/back-image.png');

    padding-bottom: 320px;
    
    .left-side{
        margin-top: 100px;

        .my-name{
            background-color: rgba(9, 69, 86, 1);
            padding: 16px 30px;
            border-radius: 30px;
            font-family: 'Schoolbell';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
        }

        h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 80px;
            margin-top: 40px;
        }

        .product{
            margin-top: 30px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
            color: #849499;
        }

        .hire-me{
            margin-top: 50px;
        }
    }

    .right-side{
        
        img{
            margin-left: -6% !important;
        }
    }
}

#services{
    margin-bottom: 200px;
    
    .dad-statistic{
        background-color: #fff;
        padding: 78px 150px;
        box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
        border-radius: 30px;
        margin-top: -150px;

        p:first-child{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 22px;
            color: rgba(38, 90, 106, 1);
        }
    }
    
    .statistic{
        margin-top: 70px;

        .achievment{

            .number{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 22px;
                color: $c5;
            }

            .success{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: $c5;
                margin-top: 30px;
            }
        }
    }

    .service{
        margin-top: 200px;

        .sec-name{
            font-family: 'Schoolbell';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 22px;
            text-decoration-line: underline;
            color: #265A6A;
        }

        p:nth-child(2){
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 45px;
            line-height: 60px;
            color: $c5;
            margin-top: 30px;
        }

        .box-dad{
            margin-top: 70px;

            .box:nth-child(2){
                
                img{
                    width: 30px;
                    height: 30px;
                }
            }

            .box{
                background-image: url('../../images/green-circle.png');
                background-repeat: no-repeat;
                background-position: 19px 20px;
                padding: 30px;
                box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);

                &:hover{
                    background-color: $c5;
                    background-image: url('../../images/yellow-circle.png');
                    background-repeat: no-repeat;
                    background-position: 19px 20px;

                    p{
                        color: rgba(178, 187, 189, 1);
                    }

                    h4{
                        color: white !important;
                    }
                }

                h4{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    color: #0F1221;
                    margin-top: 45px;
                }

                p{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    margin-top: 10px;
                    color: rgba(105, 105, 105, 1);
                }
            }
        }
    }
}

#experiance{
    background-image: url('../../images/back-image.png');
    padding: 100px 0;
    margin-bottom: 200px;

    .right-side{
        margin-top: 90px;
        .text{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            margin-top: 40px;
        }

        .dev-name{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #AABFC6;
            margin-top: 20px;
        }
        .carousel-control-next,
        .carousel-control-prev{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 10px;
            margin-left: -430px;
            margin-top: 260px;
        }
    
        .carousel-control-next{
            left: calc(50% + 200px);
        }
    
        .carousel-control-prev{
            left: calc(50% + 100px);
        }
    }
}

#my-portfolio{
    padding-bottom: 200px;

    h2:first-child{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 56px;
        color: $c5;
    }

    .description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $c3;
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .card-dad{

        .card{
            border: none !important;

            div:hover{
                a{
                    color: rgba(255, 168, 0, 1);
                }
                .next-yellow{
                    display: inline-block !important;
                }
                .next-green{
                    display: none;
                }
            }
            
            h3{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 29px;
                margin-top: 40px;
                color: $c5;
            }

            p{
                margin-top: 10px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #757575;
            }

            .next-green{
                width: 15px !important;
                height: 15px !important;
                margin-left: 15px;
                margin-top: 5px;
            }

            .next-yellow{
                width: 15px !important;
                height: 15px !important;
                margin-left: 15px;
                margin-top: 5px;
            }

            a{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                color: $c5;
            }
        }
    }
}

#my-blog{
    padding-bottom: 100px;

    .left-side{
        
        h3{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 45px;
            color: $c5;
            margin-top: 40px;
        }
    
        .important-words{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #757575;
            margin-top: 20px;
        }
    
        .carousel-container{
            padding: 0;
        }
    
        .date{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            color: #757575 !important;
        }
    
        .carousel-item img{
            height: 500px !important;
            object-fit: cover;
        }
    
        .carousel-control-next,
        .carousel-control-prev{
            top: auto;
            bottom: auto;
            bottom: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid orange;
            padding: 10px;
            margin-left: 260px;
    
            &:hover{
                background-color: orange;
            }

            .carousel-control-prev:hover{
                background-color: orange;
            }
        }
    
        .carousel-control-next{
            left: calc(50% + 200px);
        }
    
        .carousel-control-prev{
            left: calc(50% + 100px);
        }
        .carousel-control-prev-icon{
            background-image: url('../../images/let.svg');
        }
        .carousel-control-next-icon{
            background-image: url('../../images/right.svg');
        }
    }

    
    .right-side{
        h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 45px;
            line-height: 60px;
            color: $c5;
        }

        .text{
            margin-top: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
            color: #757575;
            
        }

        a{
            margin-top: 30px;
            border: 1px solid orange;
            border-radius: 30px;
            padding: 16px 30px;
            &:hover{
                background-color: rgba(255, 166, 58, 1);
                color: white !important;
            }
        }
    }
}

@media screen and (max-width:1200px){
    #hero .left-side {
        margin-top: 100px;
    }
    .carousel-control-next,
    .carousel-control-prev{
        position: absolute !important;
        margin-left: 0 !important;
        background-color: white !important;
        left: 30% !important;
    }
    .carousel-control-next{
        left: 60% !important;
    }
    #experiance .right-side .carousel-control-prev,#experiance .right-side .carousel-control-next{
        background-color: black !important;
    }
    
}



@media screen and (max-width:768px){
    #hero .left-side h2{
        font-size: 50px;
    }
    #hero{
        padding-bottom: 100px;
    }
}


@media screen and (max-width:576px){
    .footer{
        .social-medias,.pages,.services,.contact{
            --bs-gutter-x: 50% !important;
        }
    }
    #hero .left-side h2{
        font-size: 40px;
    }
    #hero .left-side *{
        text-align: center !important;
    }
    #hero .left-side .my-name{
        margin: 0 30%;
    }

    #services .service .box-dad .box{
        background-position: 50% 20px;

        &:hover{
            background-position: 50% 20px !important;
        }

    }

    #services .service .box-dad .box > *{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

        img{
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
    
    #experiance .right-side .carousel-control-prev,#experiance .right-side .carousel-control-next{
        margin-top: 400px !important;
    }
}



// #preloader{
//     background-color: #000 url(../../images/circle-loader-gif.gif) no-repeat center;
//     height: 100vh;
//     background-size: 15%;
//     width: 100%;
//     position: fixed;
//     z-index: 100;
// }
