header{
    padding: 1rem 0;
    transition: 0.5s;
    z-index: 100000 !important;
    background-image: url('../../images/back-image.png');

    & #offcanvasNavbar {
        background-color: $c1;

        @media screen and (max-width:990px) {
            .offcanvas-header {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        @media screen and (max-width:610px) {
            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .nav {
        &__link {
            font-size: 17px;
            &:hover{
                text-decoration: underline;
                color: white !important;
            }
        }

        @media screen and(max-width:990px) {
            &__link {
                font-size: 21px;
            }
        }
    }

    & .active {
        color: white !important;
        background: transparent !important;
        text-decoration: underline;
    }

    & .btn {
        &__call {
            background: $c1 !important;
            border: none;
            border-radius: 25px;
            transition: 0.009s;

            &:hover {
                background-color: white !important;
                border: 1px solid $c1;
                color: gray !important;
            }
        }
     }
}

.navbar-shrink {
    background-color: #0a475a;
    box-shadow: 0 0 8px #086e8d;
    padding: 5px !important;
}