@import "../abstracts/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

input:focus {
  outline: none;
}

.btn {
  padding: 1rem 3rem;
  border-radius: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.btn-c1 {
  color: $c4;
  padding: 16px 35px;

  &:hover {
    border-radius: 25px;
    background-color: $c2;
    color: white;
  }
}

.btn-myblog {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(117, 117, 117, 1);
  padding: 12px 26px;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(255, 248, 235, 1);
    border-radius: 30px;
    color: rgba(255, 168, 0, 1);
    padding-left: 26px !important;
  }
}