$h1: 54px;
$h2: 48px;
$h3: 38px;
$h4: 36px;
$h5: 32px;
$h6: 24px;
$txt: 16px;
$lb1: 18px;
$lb2: 16px;
$c1: #033648;
$c2: rgba(255, 166, 58, 1);
$c3: rgba(117, 117, 117, 1);
$c4:#849499;
$c5:rgba(8, 84, 108, 1);
$c6: #EEF4FA;